.field-a {
  position: absolute;
  float: right;
  right: 50px;
  top: 200px;
  height: 40px;
}

.field-b {
  position: absolute;
  float: right;
  right: 50px;
  top: 250px;
  height: 40px;
}

.field-h {
  position: absolute;
  float: right;
  right: 50px;
  top: 300px;
  height: 40px;
}

.field-unit {
  position: absolute;
  float: right;
  right: 50px;
  top: 350px;
  height: 40px;
}

.label-a {
  position: absolute;
  float: right;
  right: 250px;
  top: 200px;
  height: 40px;
}

.label-b {
  position: absolute;
  float: right;
  right: 250px;
  top: 250px;
  height: 40px;
}

.label-h {
  position: absolute;
  float: right;
  right: 250px;
  top: 300px;
  height: 40px;
}

.label-unit {
  position: absolute;
  float: right;
  right: 250px;
  top: 350px;
  height: 40px;
}

.button {
  position: absolute;
  float: right;
  right: 50px;
  top: 425px;
  height: 80px;
  width: 250px;
  color: white;
  background-color: cornflowerblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 125%;
}

.image {
  position: relative;
  float: right;
  right: 400px;
}

.headline {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
